@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-txt{
    display: inline-block;
    margin: 0;
    background-color: #2f8d46;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGOXrgLlvXVnH5ytuSnn5YLBF9UvCSZqiLZA&s');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.map-container {
    position: relative;
    z-index: 1 !important;
}
